body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #F3F4F6; /* Fundo claro */
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  background-color: #FFFFFF; /* Fundo branco para o container */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra leve para profundidade */
  width: 800px; /* Largura reduzida para um design mais compacto */
  height: 500px; /* Altura reduzida */
}

.welcome-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  border-right: 2px solid #1E3A8A; /* Bordas azul escuro */
}

.welcome-message h2 {
  color: #1E3A8A; /* Texto azul escuro */
  margin-bottom: 24px;
  font-size: 36px;
}

.welcome-message p {
  color: #111827; /* Texto preto */
  text-align: center;
  font-size: 18px;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.login-form label {
  display: block;
  margin-bottom: 12px;
  color: #111827; /* Texto preto */
  font-size: 16px;
}

.login-form input {
  width: 100%;
  padding: 16px;
  border: 1px solid #3B82F6; /* Bordas azuis */
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 24px;
  background-color: #F9FAFB; /* Fundo do input em cinza claro */
  color: #111827; /* Texto preto */
  font-size: 16px;
}

.login-form button {
  background-color: #3B82F6; /* Botão azul */
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #1E40AF; /* Azul mais escuro ao passar o mouse */
}

.signup-link {
  margin-top: 16px;
  font-size: 16px;
  color: #111827; /* Texto preto */
  text-align: center;
}

.signup-link a {
  color: #3B82F6; /* Link azul */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup-link a:hover {
  color: #1E40AF; /* Azul mais escuro ao passar o mouse */
  text-decoration: underline;
}